## Initial Data Understanding & Explore

In [1]:
# Import required python libs

import pickle
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# read data

with open('customer_service_reps', 'rb') as f:
    df_cs = pickle.load(f)
    
with open('engagement', 'rb') as f:
    df_eng = pickle.load(f)
    
with open('subscribers', 'rb') as f:
    df_sub = pickle.load(f)

In [2]:
df_cs.dtypes

customer_service_rep_id             int64
subid                               int64
current_sub_TF                       bool
cancel_date                datetime64[ns]
account_creation_date      datetime64[ns]
num_trial_days                      int64
trial_completed_TF                   bool
billing_channel                    object
revenue_net_1month                float64
payment_period                      int64
last_payment               datetime64[ns]
next_payment               datetime64[ns]
renew                              object
dtype: object

In [3]:
df_cs

,customer_service_rep_id,subid,current_sub_TF,cancel_date,account_creation_date,num_trial_days,trial_completed_TF,billing_channel,revenue_net_1month,payment_period,last_payment,next_payment,renew
4,36189811,25108574,False,NaT,2019-11-26 03:30:29,7,True,itunes,1.1377,0,2019-11-26 03:30:29,2019-11-26 03:30:29,NaN
5,36189811,25108574,False,NaT,2019-11-26 03:30:29,7,True,itunes,1.1377,1,2019-11-26 03:30:29,2019-12-27 03:30:29,NaN
6,36189811,25108574,False,NaT,2019-11-26 03:30:29,7,True,itunes,1.1377,2,2019-12-27 03:30:29,2020-01-26 03:30:29,NaN
7,36189811,25108574,False,NaT,2019-11-26 03:30:29,7,True,itunes,1.1377,3,2020-01-26 03:30:29,NaT,NaN
8,31174901,25914865,True,NaT,2020-03-19 01:20:25,14,True,itunes,1.1377,0,2020-03-19 01:20:25,2020-04-02 01:20:25,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248409,30859916,26845271,False,NaT,2019-06-30 06:24:24,0,True,google,0.6239,3,2019-08-27 20:23:27,2019-09-24 20:23:29,NaN
2248410,30859916,26845271,False,NaT,2019-06-30 06:24:24,0,True,google,0.6239,4,2019-09-24 20:23:29,2019-10-25 20:23:28,NaN
2248411,30859916,26845271,False,NaT,2019-06-30 06:24:24,0,True,google,0.6239,5,2019-10-25 20:23:28,2019-11-24 20:23:29,NaN
2248412,30859916,26845271,False,NaT,2019-06-30 06:24:24,0,True,google,0.6239,6,2019-11-24 20:23:29,2019-12-25 20:23:27,NaN
2248413,30859916,26845271,False,NaT,2019-06-30 06:24:24,0,True,google,0.6239,7,2019-12-25 20:23:27,NaT,NaN

In [4]:
df_cs['renew'].value_counts()

False    387666
True     218581
Name: renew, dtype: int64

In [5]:
df_cs.loc[df_cs['num_trial_days'] == 0]

,customer_service_rep_id,subid,current_sub_TF,cancel_date,account_creation_date,num_trial_days,trial_completed_TF,billing_channel,revenue_net_1month,payment_period,last_payment,next_payment,renew
10,32408758,28778936,True,NaT,2020-03-27 23:46:37,0,True,google,1.1377,0,2020-03-27 23:46:37,2020-03-28 06:47:31,NaN
11,32408758,28778936,True,NaT,2020-03-27 23:46:37,0,True,google,1.1377,1,2020-03-28 06:47:31,NaT,NaN
12,39370969,21481314,True,NaT,2020-03-27 23:09:18,0,True,google,1.1377,0,2020-03-27 23:09:18,2020-03-28 05:09:22,NaN
13,39370969,21481314,True,NaT,2020-03-27 23:09:18,0,True,google,1.1377,1,2020-03-28 05:09:22,NaT,NaN
14,38637729,24230000,True,NaT,2020-03-27 22:59:09,0,True,google,1.1377,0,2020-03-27 22:59:09,2020-03-28 04:59:17,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248409,30859916,26845271,False,NaT,2019-06-30 06:24:24,0,True,google,0.6239,3,2019-08-27 20:23:27,2019-09-24 20:23:29,NaN
2248410,30859916,26845271,False,NaT,2019-06-30 06:24:24,0,True,google,0.6239,4,2019-09-24 20:23:29,2019-10-25 20:23:28,NaN
2248411,30859916,26845271,False,NaT,2019-06-30 06:24:24,0,True,google,0.6239,5,2019-10-25 20:23:28,2019-11-24 20:23:29,NaN
2248412,30859916,26845271,False,NaT,2019-06-30 06:24:24,0,True,google,0.6239,6,2019-11-24 20:23:29,2019-12-25 20:23:27,NaN
2248413,30859916,26845271,False,NaT,2019-06-30 06:24:24,0,True,google,0.6239,7,2019-12-25 20:23:27,NaT,NaN

In [6]:
df_cs.loc[df_cs['subid'] == 22320767]

,customer_service_rep_id,subid,current_sub_TF,cancel_date,account_creation_date,num_trial_days,trial_completed_TF,billing_channel,revenue_net_1month,payment_period,last_payment,next_payment,renew
2248395,39561825,22320767,False,2019-11-27 09:30:04,2019-06-30 00:00:34,14,True,OTT,4.5875,0,2019-06-30 00:00:34,2019-07-14 10:43:57,True
2248396,39561825,22320767,False,2019-11-27 09:30:04,2019-06-30 00:00:34,14,True,OTT,4.5875,1,2019-07-14 10:43:57,NaT,False

In [7]:
df_cs.loc[((df_cs['next_payment'] - df_cs['last_payment']).dt.days <= 30) & (df_cs['renew'].notna())]

,customer_service_rep_id,subid,current_sub_TF,cancel_date,account_creation_date,num_trial_days,trial_completed_TF,billing_channel,revenue_net_1month,payment_period,last_payment,next_payment,renew
62,31856201,27800927,True,NaT,2020-03-27 23:59:04,14,True,OTT,4.5875,0,2020-03-28 00:05:20,2020-04-11 11:05:24,True
76,39331506,27089117,True,NaT,2020-03-27 23:57:48,14,True,OTT,3.6700,0,2020-03-27 23:57:48,2020-04-19 14:28:42,True
89,32478618,23579147,True,NaT,2020-03-27 23:55:48,14,True,OTT,5.1380,0,2020-03-27 23:55:48,2020-04-11 19:06:51,True
102,36028666,29821003,True,NaT,2020-03-27 23:55:16,14,True,OTT,4.5875,0,2020-03-28 07:10:03,2020-04-11 14:22:46,True
124,34413500,23796492,True,NaT,2020-03-27 23:52:29,14,True,OTT,4.5875,0,2020-03-28 07:10:03,2020-04-11 14:22:46,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248361,36080216,27196054,True,NaT,2019-06-30 00:01:56,14,True,OTT,4.5875,0,2019-06-30 00:01:56,2019-07-14 14:34:33,True
2248366,30967722,26531005,True,NaT,2019-06-30 00:01:45,14,True,OTT,3.4498,0,2019-06-30 01:05:37,2019-07-14 11:06:54,True
2248385,38865556,27585257,False,NaT,2019-06-30 00:01:25,14,True,OTT,4.9178,0,2019-06-30 00:01:25,2019-07-14 14:33:09,True
2248388,30967722,24792193,True,NaT,2019-06-30 00:01:11,14,True,OTT,4.7343,0,2019-06-30 00:01:11,2019-07-14 18:43:52,True
2248395,39561825,22320767,False,2019-11-27 09:30:04,2019-06-30 00:00:34,14,True,OTT,4.5875,0,2019-06-30 00:00:34,2019-07-14 10:43:57,True

In [8]:
df_cs.loc[((df_cs['next_payment'] - df_cs['last_payment']).dt.days <= 30) & (df_cs['payment_period'] != 0)]

,customer_service_rep_id,subid,current_sub_TF,cancel_date,account_creation_date,num_trial_days,trial_completed_TF,billing_channel,revenue_net_1month,payment_period,last_payment,next_payment,renew
6,36189811,25108574,False,NaT,2019-11-26 03:30:29,7,True,itunes,1.1377,2,2019-12-27 03:30:29,2020-01-26 03:30:29,NaN
197,35951645,22241546,True,NaT,2020-03-27 23:44:26,14,True,itunes,2.3121,1,2020-03-27 23:44:26,2020-03-27 23:44:26,NaN
435,33575045,20667888,True,NaT,2020-03-27 23:10:18,14,True,itunes,2.3121,2,2020-03-27 23:10:18,2020-03-27 23:10:18,NaN
1510,33936144,26716351,True,NaT,2020-03-27 19:53:29,14,True,itunes,2.3121,1,2020-03-27 19:53:29,2020-03-27 19:53:29,NaN
2226,35389115,25346444,True,NaT,2020-03-27 17:57:30,14,True,itunes,2.3121,2,2020-03-27 17:57:30,2020-03-27 17:57:30,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248408,30859916,26845271,False,NaT,2019-06-30 06:24:24,0,True,google,0.6239,2,2019-07-30 20:23:27,2019-08-27 20:23:27,NaN
2248409,30859916,26845271,False,NaT,2019-06-30 06:24:24,0,True,google,0.6239,3,2019-08-27 20:23:27,2019-09-24 20:23:29,NaN
2248410,30859916,26845271,False,NaT,2019-06-30 06:24:24,0,True,google,0.6239,4,2019-09-24 20:23:29,2019-10-25 20:23:28,NaN
2248411,30859916,26845271,False,NaT,2019-06-30 06:24:24,0,True,google,0.6239,5,2019-10-25 20:23:28,2019-11-24 20:23:29,NaN
2248412,30859916,26845271,False,NaT,2019-06-30 06:24:24,0,True,google,0.6239,6,2019-11-24 20:23:29,2019-12-25 20:23:27,NaN

In [9]:
df_cs.loc[df_cs['subid'] == 22241546]

,customer_service_rep_id,subid,current_sub_TF,cancel_date,account_creation_date,num_trial_days,trial_completed_TF,billing_channel,revenue_net_1month,payment_period,last_payment,next_payment,renew
196,35951645,22241546,True,NaT,2020-03-27 23:44:26,14,True,itunes,2.3121,0,2020-03-27 23:44:26,2020-03-27 23:44:26,NaN
197,35951645,22241546,True,NaT,2020-03-27 23:44:26,14,True,itunes,2.3121,1,2020-03-27 23:44:26,2020-03-27 23:44:26,NaN
198,35951645,22241546,True,NaT,2020-03-27 23:44:26,14,True,itunes,2.3121,2,2020-03-27 23:44:26,NaT,NaN

In [10]:
df_sub

,subid,package_type,num_weekly_services_utilized,preferred_genre,intended_use,weekly_consumption_hour,num_ideal_streaming_services,retarget_TF,age,male_TF,...,creation_until_cancel_days,cancel_before_trial_end,trial_end_date,initial_credit_card_declined,revenue_net,join_fee,language,paid_TF,refund_after_trial_TF,payment_type
162502,21724479,economy,NaN,comedy,access to exclusive content,NaN,NaN,False,NaN,False,...,NaN,True,2020-02-08,False,NaN,NaN,ar,True,False,Standard Charter
380374,23383224,base,NaN,comedy,access to exclusive content,22.951579,NaN,False,70.0,False,...,0.0,False,2020-03-16,False,0.0000,0.3303,ar,False,False,NaN
496617,26844789,enhanced,3.362885,regional,replace OTT,36.001186,1.951776,False,25.0,True,...,1.0,False,2019-12-22,False,0.0000,0.1101,ar,False,False,NaN
356799,29417030,base,NaN,drama,replace OTT,20.051667,NaN,False,30.0,False,...,0.0,False,2020-02-11,False,0.0000,0.0367,ar,False,False,NaN
681701,26723159,base,3.731089,comedy,replace OTT,22.951579,2.506384,False,28.0,False,...,9.0,False,2019-10-20,False,0.0000,0.0367,ar,False,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509326,21434712,enhanced,2.594078,comedy,supplement OTT,28.751405,1.905485,False,38.0,False,...,8.0,False,2019-12-02,False,0.0000,0.3303,ar,False,False,NaN
229587,25843074,enhanced,2.361370,comedy,replace OTT,27.301448,1.835189,True,49.0,False,...,NaN,True,2019-12-21,False,4.5875,0.3303,ar,True,False,Paypal
281340,24799085,base,NaN,comedy,access to exclusive content,31.651317,NaN,False,45.0,False,...,31.0,True,2020-01-05,True,0.0000,0.0367,ar,False,False,NaN
87198,21308040,base,NaN,comedy,access to exclusive content,NaN,NaN,False,NaN,False,...,NaN,True,2020-02-01,False,NaN,NaN,ar,True,False,Paypal
598241,20166335,base,NaN,comedy,replace OTT,25.851492,NaN,False,55.0,False,...,4.0,False,2019-12-11,False,0.0000,0.0367,ar,False,False,NaN

In [11]:
df_sub[df_sub['subid'] == 22320767]

Empty DataFrame
Columns: [subid, package_type, num_weekly_services_utilized, preferred_genre, intended_use, weekly_consumption_hour, num_ideal_streaming_services, retarget_TF, age, male_TF, country, attribution_technical, attribution_survey, op_sys, months_per_bill_period, plan_type, monthly_price, discount_price, account_creation_date, creation_until_cancel_days, cancel_before_trial_end, trial_end_date, initial_credit_card_declined, revenue_net, join_fee, language, paid_TF, refund_after_trial_TF, payment_type]
Index: []

[0 rows x 29 columns]

In [12]:
df_sub['plan_type'].value_counts()

base_uae_14_day_trial                227096
high_uae_14_day_trial                   325
low_uae_no_trial                        167
base_eur_14_day_trial                    18
high_sar_14_day_trial                    12
low_gbp_14_day_trial                      4
high_aud_14_day_trial                     2
base_uae_no_trial_7_day_guarantee         1
low_eur_no_trial                          1
low_sar_no_trial                          1
high_jpy_14_day_trial                     1
Name: plan_type, dtype: int64

In [13]:
df_sub['package_type'].value_counts()

base        111464
enhanced     63241
economy      17349
Name: package_type, dtype: int64

In [14]:
df_sub['language'].value_counts()

# All sub have one language; one contry

ar    227628
Name: language, dtype: int64

In [15]:
df_eng

,subid,date,app_opens,cust_service_mssgs,num_videos_completed,num_videos_more_than_30_seconds,num_videos_rated,num_series_started,payment_period
1,22349235,2019-07-01,1.0,1.0,0.0,6.0,0.0,0.0,0.0
2,22349235,2019-07-02,1.0,0.0,0.0,5.0,0.0,0.0,0.0
3,22349235,2019-07-03,0.0,1.0,0.0,0.0,0.0,0.0,0.0
50,20848497,2019-07-02,1.0,0.0,7.0,7.0,0.0,0.0,0.0
51,22680106,2019-07-02,2.0,1.0,7.0,7.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...
28832315,28409777,2020-04-21,2.0,0.0,4.0,4.0,0.0,1.0,1.0
28832317,28409777,2020-04-22,2.0,0.0,4.0,4.0,0.0,1.0,1.0
28832319,28409777,2020-04-23,0.0,0.0,4.0,4.0,0.0,1.0,1.0
28832321,28409777,2020-04-24,1.0,0.0,3.0,4.0,1.0,1.0,1.0
28832323,28409777,2020-04-25,1.0,0.0,0.0,4.0,0.0,1.0,1.0

In [16]:
df_sub.loc[df_sub['discount_price'] == df_sub['monthly_price']][['monthly_price', 'discount_price']]

      monthly_price  discount_price
7746         1.1744          1.1744

In [17]:
df_cseng = df_cs.loc[(df_cs['subid'].isin(set(df_eng['subid'].tolist())))].sort_values(by = 'subid')

In [18]:
df_cseng.loc[(df_cseng['cancel_date'].notna()) & (df_cseng['renew'] == False)]

,customer_service_rep_id,subid,current_sub_TF,cancel_date,account_creation_date,num_trial_days,trial_completed_TF,billing_channel,revenue_net_1month,payment_period,last_payment,next_payment,renew
2213415,32881490,20000062,False,2019-07-04 17:44:28,2019-06-30 22:44:55,14,False,OTT,0.0000,0,2019-06-30 23:05:47,NaT,False
170811,32055139,20000405,False,2020-03-18 00:48:31,2020-03-08 11:25:48,14,False,OTT,0.0000,0,2020-03-08 14:14:06,NaT,False
1654318,34671162,20000741,False,2019-08-26 07:04:17,2019-08-25 20:12:32,14,False,OTT,0.0000,0,2019-08-25 23:38:14,NaT,False
650290,36146210,20000863,False,2020-01-20 13:19:38,2020-01-08 22:27:12,14,False,OTT,0.0000,0,2020-01-08 23:05:20,NaT,False
1945879,37537571,20000963,False,2019-07-23 11:14:13,2019-07-12 19:10:37,14,False,OTT,0.0000,0,2019-07-12 20:05:35,NaT,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2060759,36919515,29999524,False,2019-07-09 19:29:42,2019-07-05 18:34:41,14,False,OTT,0.0000,0,2019-07-05 19:07:21,NaT,False
1958442,35270114,29999740,False,2019-07-25 06:13:58,2019-07-11 20:31:47,14,False,OTT,0.0000,0,2019-07-11 23:35:16,NaT,False
1484188,32101596,29999820,False,2019-10-01 17:47:32,2019-09-22 15:03:46,14,False,OTT,0.0000,0,2019-09-22 15:32:01,NaT,False
1045145,36043402,29999822,False,2019-12-03 19:05:39,2019-11-22 03:11:30,14,False,OTT,0.0000,0,2019-11-22 05:54:52,NaT,False
1666699,30235492,29999889,False,2020-01-08 16:58:54,2019-08-23 16:10:06,14,True,OTT,4.5875,2,2020-01-07 13:56:28,NaT,False

In [19]:
print(len(set(df_cs['subid'].tolist())))

1369360

In [20]:
print(len(set(df_eng['subid'].tolist())))

135019

In [21]:
print(len(set(df_sub['subid'].tolist())))

227628

In [22]:
# Export dfs for tableau

df_cs.to_csv('customer_service_reps.csv', index = False)
df_sub.to_csv('subscribers.csv', index = False)
df_eng.to_csv('engagement.csv', index = False)

In [23]:
df_eng

,subid,date,app_opens,cust_service_mssgs,num_videos_completed,num_videos_more_than_30_seconds,num_videos_rated,num_series_started,payment_period
1,22349235,2019-07-01,1.0,1.0,0.0,6.0,0.0,0.0,0.0
2,22349235,2019-07-02,1.0,0.0,0.0,5.0,0.0,0.0,0.0
3,22349235,2019-07-03,0.0,1.0,0.0,0.0,0.0,0.0,0.0
50,20848497,2019-07-02,1.0,0.0,7.0,7.0,0.0,0.0,0.0
51,22680106,2019-07-02,2.0,1.0,7.0,7.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...
28832315,28409777,2020-04-21,2.0,0.0,4.0,4.0,0.0,1.0,1.0
28832317,28409777,2020-04-22,2.0,0.0,4.0,4.0,0.0,1.0,1.0
28832319,28409777,2020-04-23,0.0,0.0,4.0,4.0,0.0,1.0,1.0
28832321,28409777,2020-04-24,1.0,0.0,3.0,4.0,1.0,1.0,1.0
28832323,28409777,2020-04-25,1.0,0.0,0.0,4.0,0.0,1.0,1.0

In [24]:
df_sub

,subid,package_type,num_weekly_services_utilized,preferred_genre,intended_use,weekly_consumption_hour,num_ideal_streaming_services,retarget_TF,age,male_TF,...,creation_until_cancel_days,cancel_before_trial_end,trial_end_date,initial_credit_card_declined,revenue_net,join_fee,language,paid_TF,refund_after_trial_TF,payment_type
162502,21724479,economy,NaN,comedy,access to exclusive content,NaN,NaN,False,NaN,False,...,NaN,True,2020-02-08,False,NaN,NaN,ar,True,False,Standard Charter
380374,23383224,base,NaN,comedy,access to exclusive content,22.951579,NaN,False,70.0,False,...,0.0,False,2020-03-16,False,0.0000,0.3303,ar,False,False,NaN
496617,26844789,enhanced,3.362885,regional,replace OTT,36.001186,1.951776,False,25.0,True,...,1.0,False,2019-12-22,False,0.0000,0.1101,ar,False,False,NaN
356799,29417030,base,NaN,drama,replace OTT,20.051667,NaN,False,30.0,False,...,0.0,False,2020-02-11,False,0.0000,0.0367,ar,False,False,NaN
681701,26723159,base,3.731089,comedy,replace OTT,22.951579,2.506384,False,28.0,False,...,9.0,False,2019-10-20,False,0.0000,0.0367,ar,False,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509326,21434712,enhanced,2.594078,comedy,supplement OTT,28.751405,1.905485,False,38.0,False,...,8.0,False,2019-12-02,False,0.0000,0.3303,ar,False,False,NaN
229587,25843074,enhanced,2.361370,comedy,replace OTT,27.301448,1.835189,True,49.0,False,...,NaN,True,2019-12-21,False,4.5875,0.3303,ar,True,False,Paypal
281340,24799085,base,NaN,comedy,access to exclusive content,31.651317,NaN,False,45.0,False,...,31.0,True,2020-01-05,True,0.0000,0.0367,ar,False,False,NaN
87198,21308040,base,NaN,comedy,access to exclusive content,NaN,NaN,False,NaN,False,...,NaN,True,2020-02-01,False,NaN,NaN,ar,True,False,Paypal
598241,20166335,base,NaN,comedy,replace OTT,25.851492,NaN,False,55.0,False,...,4.0,False,2019-12-11,False,0.0000,0.0367,ar,False,False,NaN

In [25]:
df_sub.isna().sum().sort_values(ascending = False)

# Drop columns -- payment type; num_ideal_streaming_services; num_weekly_services_utilized
# Creation_until_calcen_days contains negative values and other conflicting result -- Could be calculated from df_cs

payment_type                    135578
num_ideal_streaming_services    112170
num_weekly_services_utilized    110450
creation_until_cancel_days       75860
weekly_consumption_hour          37930
preferred_genre                  36326
package_type                     35574
age                              35169
revenue_net                      34904
join_fee                         34904
op_sys                           13375
intended_use                      3549
attribution_survey                2644
male_TF                            269
attribution_technical                0
retarget_TF                          0
country                              0
months_per_bill_period               0
refund_after_trial_TF                0
plan_type                            0
monthly_price                        0
discount_price                       0
account_creation_date                0
cancel_before_trial_end              0
trial_end_date                       0
initial_credit_card_declined         0
language                             0
paid_TF                              0
subid                                0
dtype: int64

In [26]:
df_cs.loc[(df_cs['subid'].isin(set(df_eng['subid'].tolist()))) & ((df_cs['next_payment'] - df_cs['last_payment']).dt.days <= 110) & (df_cs['payment_period'] != 0)]

,customer_service_rep_id,subid,current_sub_TF,cancel_date,account_creation_date,num_trial_days,trial_completed_TF,billing_channel,revenue_net_1month,payment_period,last_payment,next_payment,renew
84034,31591685,26987319,True,NaT,2020-03-14 06:16:13,0,True,OTT,4.5875,1,2020-03-14 07:05:25,2020-03-14 07:05:25,False
870481,36412472,24076314,True,NaT,2019-12-06 02:34:28,14,True,OTT,0.0000,1,2020-01-05 13:38:03,2020-04-20 14:26:36,True
873543,35189164,21315458,True,NaT,2019-12-05 20:19:57,14,True,OTT,0.0000,1,2020-01-05 13:51:58,2020-04-20 14:26:36,True
907550,34791036,23869384,True,NaT,2019-12-02 04:35:14,14,True,OTT,0.0000,1,2020-01-02 13:37:41,2020-04-17 14:07:40,NaN
924164,35138393,22129309,True,NaT,2019-11-30 14:29:53,14,True,OTT,4.5875,1,2019-12-27 23:11:39,2020-04-15 14:29:06,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2143655,38607156,24968265,False,2020-03-21 22:12:46,2019-07-02 19:01:17,14,True,OTT,0.0000,1,2019-08-02 14:34:13,2019-11-14 13:35:51,True
2150393,34413500,21054282,False,2020-04-01 09:26:56,2019-07-02 15:37:35,14,True,OTT,0.0000,1,2019-08-02 10:32:15,2019-11-14 13:35:51,NaN
2199998,36940646,21685820,True,NaT,2019-07-01 04:15:55,14,True,OTT,0.0000,1,2019-07-31 14:50:43,2019-11-12 13:40:29,NaN
2220076,32852327,24262843,True,NaT,2019-06-30 20:10:57,14,True,OTT,4.5875,1,2019-07-30 18:33:04,2019-11-12 13:40:29,True
2246109,35911669,29051791,True,NaT,2019-06-30 01:40:01,14,True,OTT,0.0000,1,2019-07-30 10:30:43,2019-11-11 13:36:12,True

In [27]:
df_cs.loc[(df_cs['subid'].isin(set(df_eng['subid'].tolist()))) & (df_cs['current_sub_TF'])].drop_duplicates(
    subset = ['subid'], keep = 'last').merge(df_sub[['subid', 'cancel_before_trial_end']], on = 'subid', how = 'left')

,customer_service_rep_id,subid,current_sub_TF,cancel_date,account_creation_date,num_trial_days,trial_completed_TF,billing_channel,revenue_net_1month,payment_period,last_payment,next_payment,renew,cancel_before_trial_end
0,34413500,23796492,True,NaT,2020-03-27 23:52:29,14,True,OTT,4.5875,1,2020-04-11 14:22:46,NaT,False,True
1,31714601,20162910,True,NaT,2020-03-27 23:51:37,14,True,OTT,4.5875,1,2020-04-11 14:22:46,NaT,False,True
2,33630522,22120282,True,NaT,2020-03-27 23:47:11,14,True,OTT,4.8811,1,2020-04-11 14:22:46,NaT,False,True
3,30949494,22652005,True,NaT,2020-03-27 23:43:28,14,True,OTT,4.5875,1,2020-04-11 11:05:23,NaT,False,True
4,39523024,25839343,True,NaT,2020-03-27 23:36:13,14,True,OTT,4.5875,1,2020-04-11 14:22:46,NaT,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32350,32902714,25619130,True,NaT,2019-06-30 00:55:40,14,True,OTT,4.5875,3,2020-03-13 14:01:42,NaT,NaN,True
32351,30949494,29543484,True,NaT,2019-06-30 00:37:41,14,True,OTT,4.9178,3,2020-03-13 14:01:42,NaT,False,True
32352,39294567,20922711,True,NaT,2019-06-30 00:25:11,14,True,OTT,4.5875,3,2020-03-13 14:01:42,NaT,False,True
32353,36080216,27196054,True,NaT,2019-06-30 00:01:56,14,True,OTT,4.5875,3,2020-03-13 14:01:42,NaT,False,True
32354,30967722,26531005,True,NaT,2019-06-30 00:01:45,14,True,OTT,3.4498,3,2020-03-13 11:05:22,NaT,False,True

In [28]:
df_temp = df_cs.loc[(df_cs['subid'].isin(set(df_eng['subid'].tolist())))].drop_duplicates(
    subset = ['subid'], keep = 'last').merge(df_sub[['subid', 'cancel_before_trial_end']], on = 'subid', how = 'left')
df_temp.loc[np.isfinite(df_temp['cancel_date'])]['current_sub_TF'].value_counts()

False    84589
Name: current_sub_TF, dtype: int64

In [29]:
df_temp['current_sub_TF'].value_counts()

False    102664
True      32355
Name: current_sub_TF, dtype: int64

In [30]:
# Aggregate df_eng to customer level

sub_set = set(df_eng['subid'].tolist())

In [34]:
# check duplicate for each customer to see whether engagement record could happen more than once per day for an individual customer

df_eng.duplicated(subset = ['subid', 'date']).sum()

# The result tells that there is no duplicate engagement record for each individual

0

In [35]:
# Daily Average

df_eng_daily = df_eng.groupby(by = ['subid', 'payment_period']).mean()

col = list(df_eng_daily.columns)

for i in range(len(col)):
    col[i] = 'daily_' + col[i]
    
df_eng_daily.columns = col

df_eng_daily = df_eng_daily.unstack(level = 1)

col2 = []
for i in col:
    for j in range(4):
        col2.append(i + '_period_' + str(j))
        
df_eng_daily.columns = col2

df_eng_daily

,daily_app_opens_period_0,daily_app_opens_period_1,daily_app_opens_period_2,daily_app_opens_period_3,daily_cust_service_mssgs_period_0,daily_cust_service_mssgs_period_1,daily_cust_service_mssgs_period_2,daily_cust_service_mssgs_period_3,daily_num_videos_completed_period_0,daily_num_videos_completed_period_1,...,daily_num_videos_more_than_30_seconds_period_2,daily_num_videos_more_than_30_seconds_period_3,daily_num_videos_rated_period_0,daily_num_videos_rated_period_1,daily_num_videos_rated_period_2,daily_num_videos_rated_period_3,daily_num_series_started_period_0,daily_num_series_started_period_1,daily_num_series_started_period_2,daily_num_series_started_period_3
subid,,,,,,,,,,,,,,,,,,,,,
20000062,1.000000,NaN,NaN,NaN,0.750000,NaN,NaN,NaN,1.500000,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,0.250000,NaN,NaN,NaN
20000405,1.250000,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,3.250000,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,0.250000,NaN,NaN,NaN
20000604,1.000000,0.500000,NaN,NaN,0.307692,0.500000,NaN,NaN,0.615385,0.000000,...,NaN,NaN,0.0,0.000000,NaN,NaN,0.076923,0.000000,NaN,NaN
20000685,1.307692,1.160000,NaN,NaN,0.307692,0.240000,NaN,NaN,0.846154,0.120000,...,NaN,NaN,0.0,0.000000,NaN,NaN,0.538462,0.040000,NaN,NaN
20000741,0.500000,NaN,NaN,NaN,0.500000,NaN,NaN,NaN,1.000000,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,0.000000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29999740,1.071429,NaN,NaN,NaN,0.214286,NaN,NaN,NaN,0.785714,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,0.000000,NaN,NaN,NaN
29999820,1.200000,NaN,NaN,NaN,0.600000,NaN,NaN,NaN,2.200000,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,0.700000,NaN,NaN,NaN
29999822,1.000000,NaN,NaN,NaN,0.800000,NaN,NaN,NaN,0.400000,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,0.200000,NaN,NaN,NaN
29999889,2.933333,4.193548,2.366667,NaN,0.933333,0.483871,0.533333,NaN,4.933333,4.258065,...,4.0,NaN,0.0,0.645161,0.666667,NaN,1.000000,0.741935,1.0,NaN
29999945,0.866667,1.045455,NaN,NaN,0.133333,0.000000,NaN,NaN,4.200000,3.090909,...,NaN,NaN,0.0,0.000000,NaN,NaN,0.733333,0.727273,NaN,NaN

In [36]:
df_eng_daily.isna().sum()

daily_app_opens_period_0                              27
daily_app_opens_period_1                           81301
daily_app_opens_period_2                          122897
daily_app_opens_period_3                          135008
daily_cust_service_mssgs_period_0                     27
daily_cust_service_mssgs_period_1                  81301
daily_cust_service_mssgs_period_2                 122897
daily_cust_service_mssgs_period_3                 135008
daily_num_videos_completed_period_0                   27
daily_num_videos_completed_period_1                81301
daily_num_videos_completed_period_2               122897
daily_num_videos_completed_period_3               135008
daily_num_videos_more_than_30_seconds_period_0        27
daily_num_videos_more_than_30_seconds_period_1     81301
daily_num_videos_more_than_30_seconds_period_2    122897
daily_num_videos_more_than_30_seconds_period_3    135008
daily_num_videos_rated_period_0                       27
daily_num_videos_rated_period_1                    81301
daily_num_videos_rated_period_2                   122897
daily_num_videos_rated_period_3                   135008
daily_num_series_started_period_0                     27
daily_num_series_started_period_1                  81301
daily_num_series_started_period_2                 122897
daily_num_series_started_period_3                 135008
dtype: int64

In [37]:
# These are people who did not receive a trial 

df_eng_daily[np.isnan(df_eng_daily['daily_app_opens_period_0'])]

,daily_app_opens_period_0,daily_app_opens_period_1,daily_app_opens_period_2,daily_app_opens_period_3,daily_cust_service_mssgs_period_0,daily_cust_service_mssgs_period_1,daily_cust_service_mssgs_period_2,daily_cust_service_mssgs_period_3,daily_num_videos_completed_period_0,daily_num_videos_completed_period_1,...,daily_num_videos_more_than_30_seconds_period_2,daily_num_videos_more_than_30_seconds_period_3,daily_num_videos_rated_period_0,daily_num_videos_rated_period_1,daily_num_videos_rated_period_2,daily_num_videos_rated_period_3,daily_num_series_started_period_0,daily_num_series_started_period_1,daily_num_series_started_period_2,daily_num_series_started_period_3
subid,,,,,,,,,,,,,,,,,,,,,
20583918,NaN,1.535714,NaN,NaN,NaN,0.214286,NaN,NaN,NaN,0.964286,...,NaN,NaN,NaN,0.035714,NaN,NaN,NaN,0.857143,NaN,NaN
21317257,NaN,1.764706,1.272727,NaN,NaN,0.000000,0.000000,NaN,NaN,0.705882,...,2.000000,NaN,NaN,0.000000,0.000000,NaN,NaN,0.470588,0.000000,NaN
21327523,NaN,1.000000,1.000000,NaN,NaN,0.200000,0.000000,NaN,NaN,1.600000,...,4.000000,NaN,NaN,0.000000,0.000000,NaN,NaN,0.200000,0.250000,NaN
21395906,NaN,2.129032,1.352941,NaN,NaN,0.129032,0.058824,NaN,NaN,0.903226,...,3.764706,NaN,NaN,0.032258,0.000000,NaN,NaN,0.258065,0.058824,NaN
21483323,NaN,4.400000,NaN,NaN,NaN,0.200000,NaN,NaN,NaN,2.400000,...,NaN,NaN,NaN,0.200000,NaN,NaN,NaN,1.000000,NaN,NaN
22335663,NaN,0.840000,NaN,NaN,NaN,0.080000,NaN,NaN,NaN,1.680000,...,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.440000,NaN,NaN
22949100,NaN,1.000000,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0.000000,...,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000,NaN,NaN
23084902,NaN,1.935484,1.684211,NaN,NaN,0.322581,0.105263,NaN,NaN,4.161290,...,3.157895,NaN,NaN,0.129032,0.000000,NaN,NaN,0.903226,0.368421,NaN
23354300,NaN,1.285714,NaN,NaN,NaN,0.142857,NaN,NaN,NaN,0.571429,...,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000,NaN,NaN
23428414,NaN,1.409091,NaN,NaN,NaN,0.045455,NaN,NaN,NaN,0.090909,...,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.227273,NaN,NaN
23694642,NaN,0.500000,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000,...,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000,NaN,NaN
24081158,NaN,1.000000,0.857143,NaN,NaN,0.000000,0.214286,NaN,NaN,0.000000,...,2.571429,NaN,NaN,0.000000,0.000000,NaN,NaN,0.687500,0.500000,NaN
24533399,NaN,0.967742,NaN,NaN,NaN,0.354839,NaN,NaN,NaN,1.032258,...,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.870968,NaN,NaN
24724022,NaN,1.277778,NaN,NaN,NaN,0.222222,NaN,NaN,NaN,0.500000,...,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.500000,NaN,NaN
24742837,NaN,0.695652,0.636364,NaN,NaN,0.043478,0.000000,NaN,NaN,1.826087,...,4.000000,NaN,NaN,0.000000,0.000000,NaN,NaN,0.434783,0.090909,NaN
24984811,NaN,7.483871,NaN,NaN,NaN,0.741935,NaN,NaN,NaN,3.838710,...,NaN,NaN,NaN,0.387097,NaN,NaN,NaN,1.000000,NaN,NaN
25521305,NaN,0.600000,NaN,NaN,NaN,0.600000,NaN,NaN,NaN,0.000000,...,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000,NaN,NaN
25521743,NaN,1.222222,2.208333,NaN,NaN,0.444444,0.291667,NaN,NaN,1.222222,...,2.500000,NaN,NaN,0.037037,0.000000,NaN,NaN,0.222222,0.000000,NaN
25921401,NaN,4.437500,NaN,NaN,NaN,0.250000,NaN,NaN,NaN,1.437500,...,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.312500,NaN,NaN
26168167,NaN,1.000000,NaN,NaN,NaN,0.645161,NaN,NaN,NaN,4.387097,...,NaN,NaN,NaN,0.258065,NaN,NaN,NaN,1.000000,NaN,NaN
26311497,NaN,1.000000,0.400000,NaN,NaN,0.000000,0.000000,NaN,NaN,0.187500,...,3.000000,NaN,NaN,0.000000,0.000000,NaN,NaN,0.000000,0.000000,NaN
26987319,NaN,0.800000,NaN,NaN,NaN,0.500000,NaN,NaN,NaN,4.300000,...,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.200000,NaN,NaN
27066598,NaN,0.964286,0.800000,NaN,NaN,0.071429,0.000000,NaN,NaN,1.392857,...,3.200000,NaN,NaN,0.035714,0.000000,NaN,NaN,0.464286,0.300000,NaN
27542549,NaN,1.612903,1.766667,NaN,NaN,0.129032,0.100000,NaN,NaN,4.193548,...,4.000000,NaN,NaN,0.322581,0.133333,NaN,NaN,0.967742,0.766667,NaN
27791277,NaN,1.272727,NaN,NaN,NaN,0.090909,NaN,NaN,NaN,0.454545,...,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.090909,NaN,NaN
28214657,NaN,0.000000,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000,...,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000,NaN,NaN
28496166,NaN,2.451613,2.620690,NaN,NaN,0.354839,0.310345,NaN,NaN,4.064516,...,4.172414,NaN,NaN,0.064516,0.000000,NaN,NaN,1.000000,0.620690,NaN

In [38]:
# rule out the 27 customers with no trial 

df_eng_daily_trial = df_eng_daily[np.isfinite(df_eng_daily['daily_app_opens_period_0'])]

df_eng_daily_trial.isna().sum()

daily_app_opens_period_0                               0
daily_app_opens_period_1                           81301
daily_app_opens_period_2                          122881
daily_app_opens_period_3                          134981
daily_cust_service_mssgs_period_0                      0
daily_cust_service_mssgs_period_1                  81301
daily_cust_service_mssgs_period_2                 122881
daily_cust_service_mssgs_period_3                 134981
daily_num_videos_completed_period_0                    0
daily_num_videos_completed_period_1                81301
daily_num_videos_completed_period_2               122881
daily_num_videos_completed_period_3               134981
daily_num_videos_more_than_30_seconds_period_0         0
daily_num_videos_more_than_30_seconds_period_1     81301
daily_num_videos_more_than_30_seconds_period_2    122881
daily_num_videos_more_than_30_seconds_period_3    134981
daily_num_videos_rated_period_0                        0
daily_num_videos_rated_period_1                    81301
daily_num_videos_rated_period_2                   122881
daily_num_videos_rated_period_3                   134981
daily_num_series_started_period_0                      0
daily_num_series_started_period_1                  81301
daily_num_series_started_period_2                 122881
daily_num_series_started_period_3                 134981
dtype: int64

In [39]:
df_eng_daily.reset_index().to_csv('engagement_daily.csv', index = False)

In [40]:
df_eng_daily_trial.shape

(134992, 24)

In [41]:
# Create new csv for graph
df_cseng.drop_duplicates(subset = ['subid'], keep = 'last').to_csv('cust_services_last.csv', index = False)

In [42]:
df_sub[['subid', 'age']].loc[df_sub['subid'].isin(set(df_eng['subid'].tolist()))].drop_duplicates(subset = ['subid']).to_csv('cust_age.csv', index = False)

## Feature Engineering

In [45]:
# First, define the scope of the analysis -- only customers in engagement data set will be considered

# Slice other dataset

df_cs_s = df_cs.loc[df_cs['subid'].isin(sub_set)]

df_sub_s =df_sub.loc[df_sub['subid'].isin(sub_set)]